#content {
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 40px;
    font-size: 150%
}

#docs {
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 40px;
    font-size: 150%
}